<li>
  <img
    src="{{ collection.thumbnail }}"
    alt=""
  />
  <div class="header">
    <a href="{{ collection.permalink }}">
      <h3>{{ collection.title | e }}</h3>
    </a>
    <p class="description">
      {{ 'A collection containing %d resources, contributed by %s' | i18n | format(collection.resource_ids | length, collection.contributor) | e }}
    </p>
  </div>
</li>

