{% extends "base.twig" %}

{% set page_title = 'Collections | Imageshare' %}

{% block content %}
  <div class="main-inner width-12/12">
    <section aria-labelledby="collections" class="search-results">
      <h1 class="collections-heading" id="collections-heading">
        {{ 'Collections' | i18n }}
      </h1>
      <span class="counter">{{ posts | length }}</span>
      <ul
        id="collections"
        class="search-results"
        aria-labelledby="collections-heading"
        role="list"
      >
      {% for collection in posts %}
        {{ include('partial/collection-list-item.twig', {level : 2}) }}
      {% endfor %}
      </ul>
    </section>
  </div>
{% endblock %}
