<h2 id="footer" class="sr-only">Footer</h2>
<div class="grid footer-inner">
<nav
  class="width-10/12 width-12/12@medium width-12/12@small row-1"
  aria-labelledby="footer"
>
  <h3 id="nav-footer" class="sr-only">Useful Links</h3>
  <ul
    class="footer-nav-list"
    aria-labelledby="nav-footer"
    role="list"
  >
    <li><a href="#">About Imageshare</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Contribute</a></li>
    <li><a href="#">Terms of Service Agreement</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Resources</a></li>
  </ul>
</nav>
<p class="width-9/12 width-12/12@small row-2">
  The DIAGRAM Center is a Benetech initiative supported by the U.S.
  Department of Education, Office of Special Education Programs
  (Cooperative Agreement #H327B100001). Opinions expressed herein
  are those of the authors and do not necessarily represent the
  position of the U.S. Department of Education.
</p>
<div class="flex width-9/12 width-12/12@small row-3">
  <nav class="social-nav" aria-labelledby="social">
    <h3 id="social" class="sr-only">Social</h3>
    <ul
      class="footer-social-list"
      aria-labelledby="social"
      role="list"
    >
      <li class="facebook">
        <a href="#">
          <span class="sr-only">Facebook</span>
        </a>
      </li>
      <li class="twitter">
        <a href="#"><span class="sr-only">Twitter</span></a>
      </li>
    </ul>
  </nav>
  <p class="copyright">
    &copy; Copyright 2020 Benetech. All Rights Reserved.
  </p>
</div>
<h3 class="sr-only" id="supporters-heading">Supporters</h3>
<ul
  class="partners width-2/12 row-span-3"
  aria-labelledby="supporters-heading"
  role="list"
>
  <li class="benetech">
    <a href="#"><img src="{{ site.theme.link }}/assets/img/benetech.png" alt="benetech" /></a>
  </li>
  <li class="ideasthatwork">
    <a href="#"
      ><img src="{{ site.theme.link }}/assets/img/ideasthatwork.png" alt="IDEAs that Work"
    /></a>
  </li>
</ul>
</div>

